<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>Attendance status</title>
  </head>

  <body>
    <div class="container-fluid">
      <h1 class="text-center">Attendance Report</h1>
      <h2>Subjects Marked Today:</h2>
      <span><%= subjectsMarked.join() %></span>

      <h2>Manually Marked Subjects:</h2>
      <span><%= manuallyMarked.join() %></span>

      <h2>Subjects Left for today:</h2>
      <span><%= subjectsLeftToMark.join() %></span>

      <h2>Links Entered:</h2>
      <% if(subjectLinks) Object.entries(subjectLinks).forEach(([sub,link])=>{%>
      <p><%= sub %>: <a href=" <%= link %> "> <%= link %> </a></p>
      <% }) %>

      <iframe src="/logFile.txt" width="100%" frameborder="1"></iframe>

      <a href="/logFile.html">Open logs</a>
    </div>
  </body>
</html>
