<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>Attendance status</title>

    <style>
      html,
      body {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .row-entry {
        display: flex;
        align-items: center;
      }
      .row-entry p {
        margin: 23px auto auto 15px;
      }
    </style>
  </head>

  <body>
    <div class="container" style="margin-bottom: 35px">
      <h1 class="text-center">Attendance Report</h1>
      <div class="row-entry">
        <h3>Subjects Marked Today:</h3>
        <p><%= subjectsMarked.join(', ') %></p>
      </div>

      <div class="row-entry">
        <h3>Manually Marked Subjects:</h3>
        <p><%= manuallyMarked.join(', ') %></p>
      </div>

      <div class="row-entry">
        <h3>Subjects Left for today:</h3>
        <p><%= subjectsLeftToMark.join(', ') %></p>
      </div>

      <h3>Links Entered:</h3>
      <% if(subjectLinks) Object.entries(subjectLinks).forEach(([sub,link])=>{%>
      <p><%= sub %>: <a href=" <%= link %> "> <%= link %> </a></p>
      <% }) %>

      <a href="/scrape" class="btn btn-info m-2">Scrape Manually </a>
      <a href="/clear" class="m-2">Clear Daily log </a>
      <a class="btn btn-info" href="/logs.txt">Open logs</a>

      <iframe src="/temp.txt" width="100%" frameborder="1"></iframe>
    </div>
  </body>
</html>
